n8n-invoice-reminder.json
{
  "name": "TAG 8 - Handwerker Rechnungssystem v1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        -16
      ],
      "id": "1955c1b6-cd82-44c3-b336-ef078deddbc6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17RJ02rWUu9IUcx0RNwDMVrHRMTqRyeHDYvt_rJzc6PE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17RJ02rWUu9IUcx0RNwDMVrHRMTqRyeHDYvt_rJzc6PE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        -16
      ],
      "id": "6efc956f-0b2f-4f59-95a0-081367dbab72",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "42pAaApCHiKhlZnV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Für jedes Item (Rechnung) das Fälligkeitsdatum berechnen\nconst items = $input.all();\n\nreturn items.map(item => {\n  // Rechnungsdatum holen (Format: DD.MM.YYYY)\n  const rechnungsDatumStr = item.json.rechnungsDatum;\n  \n  // Datum parsen (DD.MM.YYYY → JavaScript Date)\n  const [day, month, year] = rechnungsDatumStr.split('.');\n  const rechnungsDatum = new Date(year, month - 1, day);\n  \n  // Zahlungsziel (Tage) hinzufügen\n  const zahlungsziel = parseInt(item.json.zahlungsziel);\n  const faelligkeitsDatum = new Date(rechnungsDatum);\n  faelligkeitsDatum.setDate(faelligkeitsDatum.getDate() + zahlungsziel);\n  \n  // Heute\n  const heute = new Date();\n  heute.setHours(0, 0, 0, 0); // Zeit auf 00:00 setzen\n  faelligkeitsDatum.setHours(0, 0, 0, 0);\n  \n  // Ist überfällig?\n  const istUeberfaellig = heute > faelligkeitsDatum;\n  \n  // Tage überfällig berechnen\n  const tageUeberfaellig = istUeberfaellig \n    ? Math.floor((heute - faelligkeitsDatum) / (1000 * 60 * 60 * 24))\n    : 0;\n  \n  // Alle Daten zurückgeben + neue Felder\n  return {\n    json: {\n      ...item.json, // Alle originalen Felder\n      faelligkeitsDatum: faelligkeitsDatum.toISOString().split('T')[0],\n      istUeberfaellig: istUeberfaellig,\n      tageUeberfaellig: tageUeberfaellig\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -16
      ],
      "id": "e0083506-d881-47c1-a244-68617edd2571",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5767e52f-2a81-46d5-9199-fa8c490ce8a9",
              "leftValue": "={{ $json.istUeberfaellig }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "f563d37d-0e52-43b5-a191-a1076298754c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Offen",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        -16
      ],
      "id": "02909c41-32a2-4756-8d28-5903f9c47582",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"onboarding@resend.dev\",\n  \"to\": [\"{{ $json.kundenEmail }}\"],\n  \"subject\": \"Zahlungserinnerung - Rechnung {{ $json.rechnungsNummer }}\",\n  \"html\": \"<h2>Zahlungserinnerung</h2><p>Sehr geehrter Herr/Frau {{ $json.kundenName }},</p><p>Ihre Rechnung <strong>{{ $json.rechnungsNummer }}</strong> ueber <strong>{{ $json.betrag }} Euro</strong> ist seit <strong>{{ $json.tageUeberfaellig }} Tagen</strong> ueberfaellig.</p><p>Faelligkeit war am: {{ $json.faelligkeitsDatum }}</p><p>Bitte begleichen Sie den Betrag zeitnah.</p><p>Mit freundlichen Gruessen</p>\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -32
      ],
      "id": "fae58eb4-2366-4eb4-98db-1ab2581caa0e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XAPNFc8wftYkKnu3",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17RJ02rWUu9IUcx0RNwDMVrHRMTqRyeHDYvt_rJzc6PE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17RJ02rWUu9IUcx0RNwDMVrHRMTqRyeHDYvt_rJzc6PE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechnungsNummer": "={{ $('If').item.json.rechnungsNummer }}",
            "letzteErinnerung": "={{ $now.format('DD.MM') }}  "
          },
          "matchingColumns": [
            "rechnungsNummer"
          ],
          "schema": [
            {
              "id": "rechnungsNummer",
              "displayName": "rechnungsNummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kundenName",
              "displayName": "kundenName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kundenEmail",
              "displayName": "kundenEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "betrag",
              "displayName": "betrag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechnungsDatum",
              "displayName": "rechnungsDatum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zahlungsziel",
              "displayName": "zahlungsziel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "letzteErinnerung",
              "displayName": "letzteErinnerung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -32
      ],
      "id": "5b22cb41-a62f-40ea-8681-967940a21a74",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "42pAaApCHiKhlZnV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d7721d6-51e4-436f-b9ce-fb9b660bded5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ef286a81f4965e379825b5e4e5c0c6720bcfd3f646deef47cf1a8bbafaa09a"
  },
  "id": "LkJKaspPpNxnv-oEjHkzD",
  "tags": []
}